# _md5hash=ef348e50109def32ae7bd3213d1db86f
# _version=8
# Dataplaneapi managed File
# changing file directly can cause a conflict if dataplaneapi is running

global
  stats socket /var/run/haproxy-runtime-api.sock mode 660 level admin expose-fd listeners
  stats timeout 30s
  log stdout format raw local0

defaults unnamed_defaults_1
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 30s
  timeout server 30s

userlist controller
  user admin insecure-password haproxypwd

frontend fe_https from unnamed_defaults_1
  bind :443 ssl crt /usr/local/etc/haproxy/certs/api-2025.pem
  default_backend be_app

frontend fe_main from unnamed_defaults_1
  bind :80
  use_backend %[path,map_beg(/usr/local/etc/haproxy/maps/routing.map,be_app)]
  default_backend be_app

frontend stats from unnamed_defaults_1
  bind :8404
  no log
  stats enable
  stats uri /stats
  stats refresh 10s

backend be_app from unnamed_defaults_1
  balance roundrobin
  option httpchk GET /
  server web1 backend-1:80 check
  server web2 backend-2:80 check
  server web4 backend-3:80 check
  server web3 backend-3:80 check

backend be_canary from unnamed_defaults_1
  balance roundrobin
  option httpchk GET /
  server canary1 backend-3:80 check
